<croco-banner></croco-banner>
<croco-slots-filter
  [categories]="categories$ | async"
  [providers]="providers$ | async"
  [selectedCategory]="selectedCategory()"
  [selectedProvider]="selectedProvider()"
  (selectCategory)="selectCategory($event)"
  (selectProvider)="$event ? selectProvider($event) : selectAllProviders()"
></croco-slots-filter>

<div class="slots">
@for (slot of slots$ | async; track slot.game_id) {
  <div class="slots__item">
    <div class="slots__overlay">
      <span class="slots__button">Play</span>
    </div>
    <img class="slots__image" [src]="slot.image" [alt]="slot.name" />
    <h3 class="slots__title">{{slot.name}}</h3>
  </div>
}
</div>

