<aside class="sidebar">
  <div class="sidebar__logo">
    <a routerLink="/"><img src="assets/icons/logo.svg" alt="Croco logo" /></a>
  </div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu__item">
      <a routerLink="/sport" routerLinkActive="active" class="sidebar-menu__link">
        <croco-icon class="sidebar-menu__icon sidebar-menu__icon--sport" svgPath="assets/icons/sport-icon.svg"></croco-icon>
        <span class="sidebar-menu__text">Sport</span>
      </a>
    </li>
    <li class="sidebar-menu__item">
      <a routerLink="/live" routerLinkActive="active" class="sidebar-menu__link">
        <croco-icon class="sidebar-menu__icon sidebar-menu__icon--live" svgPath="assets/icons/live-icon.svg"></croco-icon>
        <span class="sidebar-menu__text">Live</span>
      </a>
    </li>
    <li class="sidebar-menu__item">
      <a routerLink="/slots" routerLinkActive="active" class="sidebar-menu__link">
        <croco-icon class="sidebar-menu__icon sidebar-menu__icon--slots" svgPath="assets/icons/slots-icon.svg"></croco-icon>
        <span class="sidebar-menu__text">Slots</span>
      </a>
    </li>
    <li class="sidebar-menu__item">
      <a routerLink="/casino" routerLinkActive="active" class="sidebar-menu__link">
        <croco-icon class="sidebar-menu__icon sidebar-menu__icon--casino" svgPath="assets/icons/casino-icon.svg"></croco-icon>
        <span class="sidebar-menu__text">Casino</span>
      </a>
    </li>
  </ul>
</aside>
